<a href="https://colab.research.google.com/github/SarahSouzaPontes/desafioPrograma-o/blob/main/%22Bootcamp_Data_Analytics_Maria_Silva%22__Sarah_Souza_Pontes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Bem vindas ao desafio de python do bootcamp Tech Minas da WoMakersCode!
Neste notebook, voce deve escrever o codigo python em resposta à cada uma das perguntas. Esteja atenta ao enunciado do problema!

### Desafio 1
Escreva uma função em python que lê dois números inteiros (a,b) e gere como resultado as seguintes operações:adição, subtração, multiplicação e divisão. Execute a funçao na celula abaixo, deixando visivel exemplos de resultados.

In [ ]:
##### ESCREVER A FUNÇAO ABAIXO
defina_var_a= 5
defina_var_b = 6
def operations(a,b):
  #### Escrever abaixo

#Soma
  operations_soma = (a + b)
  print('Resultado da operação de adição é',operations_soma)

#Subtração
  operations_subtracao = (a - b)
  print('Resultado da operação de subtração é',operations_subtracao)

#Multiplicação
  operations_produto = (a * b)
  print('Resultado da operação de multiplicação é',operations_produto)

#Divisão
  operations_divisao = (a / b)
  print('Resultado da operação de divisão é',operations_divisao)

In [ ]:
#### RODAR A FUNÇAO
operations(defina_var_a,defina_var_b)

Resultado da operação de adição é 11
Resultado da operação de subtração é -1
Resultado da operação de multiplicação é 30
Resultado da operação de divisão é 0.8333333333333334

### Desafio 2
Escreva uma função em python que leia como input uma idade e retorne a classificaçao da ideade do individuo da seguinte forma em:

*  Criança – 0 a 12 anos
*  Adolescente – 13 a 17 anos
*  Adulto – acima de 18 anos


Se a idade for um número negativo, mostrar a mensagem que a "idade inválida"

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
defina_var_idade_idade = 18
def classifica_idade(idade):
  #### escrever abaixo

  if (idade <= 12):
    print("--- Criança ----")

  if (13 < idade and idade <= 17):
    print("--- Adolescente ---")

  if (idade >= 18):
    print("--- Adulto ---")

In [ ]:
#### RODAR A FUNCAO
classifica_idade(defina_var_idade_idade)

--- Adulto ---

### Desafio 3
Crie uma função em python que receba como input um determinado horário em horas e retorne a conversao deste horário para segundos

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
defina_var_t_em_hora = 2
def time_converter(t):
  ##### escrever abaixo
  segundos = t * 3600
  print('Olá,', t, 'hr é igual a', segundos, 'segundos.')

In [ ]:
##### RODAR A FUNCAO
time_converter(defina_var_t_em_hora)

Olá, 2 hr é igual a 7200 segundos.

### Desafio 4
Crie uma função em python que calcule a média artimética de uma aluna que cursou a disciplina de Programação I. A funcao deve receber como input as notas M1, M2 e M3 e calcular a média. Após a média calculada, a funcao deve anunciar se a aluna foi aprovado, reprovado ou pegou exame de acordo conm a seguinte classificacao:

* Se a média estiver entre 0.0 e 4.0, o aluno está reprovado
* Se a média estiver entre 4.1 e 6.0, o aluno pegou exame
* Se a média for maior do que 6.0, o aluno está aprovado
* Se o aluno pegou exame, deve ser lida a nota do exame. Se a nota do exame for maior do que 6.0, está aprovado, senão; está reprovado

In [ ]:
##### ESCREVER A FUNCAO ABAIXO
def calcula_media(M1,M2,M3):
  ###### escrever abaixo
  nota = (M1 + M2 + M3) / 3
  if (nota <= 4):
    print("--- Reprovado ----")
     
  elif (4.0 < nota and nota <= 6.0):
    print("--- Exame ---")
    print("Digite a nota do exame:")
    nota_exame = float (input())
    if(nota_exame > 6):
      print("--- Aprovado ---")
    else:
      print("--- Reprovado ----")

  if(nota > 6):
    print("--- Aprovado ---")

In [ ]:
##### RODAR A FUNCAO
calcula_media(4,5,6)

--- Exame ---
Digite a nota do exame:
4
--- Reprovado ----

### Desafio 5
Dado a seguinte lista: 
* equipes_bootcamp_dados = [BerthaLutz, GraceHopper, JaquelineGoes, SarahGilbert]

1. Crie uma função em python que conte quantas vezes aparece a letra a em cada elemento da lista. Seu resultado deve ser uma lista . exemplo: [4,0,1,2]

2. Leia a lista de alunas: ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']

3. Crie uma função que atribua cada uma das alunas em uma das equipes da lista equipes_bootcamp_dados, de modo que cada equipe pode ter 3 alunas no máximo.

 Para isso ordene em alfabética. O seu resultado deve ser um dicionário python. exemplo {'BerthaLutz': ['Ana', 'Bruna', 'Camila'], 'GraceHopper': ['Elaine','Erika','Luiza'],... }

In [ ]:
#Importando Biblioteca
import re

In [ ]:
##### ESCREVER A FUNCAO DA ETAPA 1
sentence = "BerthaLutz, GraceHopper, JaquelineGoes, SarahGilber"
def contador(equipes_bootcamp_dados):
  #### escrever abaixo
  print('Ocorrência da letra a:', len(re.findall('a', equipes_bootcamp_dados)))

In [ ]:
###### RODAR A ETAPA 1
contador(sentence)

Ocorrência da letra a: 5

In [ ]:
##### LER A ETAPA 2
alunas = ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']

In [ ]:
##### ESCREVER A FUNCAO DA ETAPA 3
def ordenacao(lista_alunas, equipes_bootcamp_dados):
  ### escrever abaixo
  alunas = ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']

In [ ]:
##### RODAR A FUNCAO DA ETAPA 3
#equipes_bootcamp_dados
equipes_bootcamp_dados = ['BerthaLutz', 'GraceHopper', 'JaquelineGoes', 'SarahGilbert']
alunas = ['Maria', 'Ana','Camila','Mariana','Elaine','Patricia','Marina','Erica','Larissa','Luiza', 'Nicole','Bruna']

def agrupa(equipes, alunas):

   alunas.sort() # Ordem alfabética

   grupos = {} # Dicionário para armazenar as equipes

   i = 0

   for equipe in equipes:

       grupos[equipe] = [ alunas[x] for x in range(i, i+3)]

       i += 3

   return grupos

eq = agrupa(equipes_bootcamp_dados, alunas)

print('As equipes são:', eq)

As equipes são: {'BerthaLutz': ['Ana', 'Bruna', 'Camila'], 'GraceHopper': ['Elaine', 'Erica', 'Larissa'], 'JaquelineGoes': ['Luiza', 'Maria', 'Mariana'], 'SarahGilbert': ['Marina', 'Nicole', 'Patricia']}

### Desafio 6
Escreva uma função em python que leia uma temperatura em graus Celsius e retorne a conversao dela em graus Fahrenheit. 

A fórmula de conversão é F = (9 * C + 160) / 5, na qual F é a temperatura em Fahrenheit e C é a temperatura em graus Celsius

In [ ]:
##### ESCREVER A FUNCAO
def conversor_temperatura(temperatura):
  ### escrever abaixo

  F = (9* temperatura + 160) /5
  print(F)

In [ ]:
##### RODAR A FUNCAO
conversor_temperatura(0)

32.0